div.row
  div.col
    h3.mt-4.mt-lg-0.text-left(style="font-size: 2em; font-weight:800; color:white; text-shadow: 0px 0px 10px #000000") タイムスケジュール
div.row
  div.col
    div.card-body.p-1
        div.cp_timeline04
          
          each item, index in info
            
            //separater
            if index == 0
              div.part.mt-lg-2#Part1
                h3 第１部
            else if index == 10
              div.part.mt-lg-4#Part2
                h3 第２部
            else if index == 15
              div.part.mt-lg-4#Part3
                h3 第３部
            else if index == 22
              div.part.mt-lg-4#Part4
                h3 裏配信
                
            //timeline
            div.timeline_item.mb-2(id=item.thumbnail)
              div.time_date
                
                // --------Time--------
                p.time #{item.time}
                
                // --------Title--------
                p.flag ##{index+1} #{item.title}
                div.container-fluid
                  div.row.pt-1.pl-lg-2
                    
                    // --------Thumbnail--------
                    div.col-12.col-lg-4.effect-fade
                      if index == 16
                        include _riddle
                        div#omesis.img-wrap.mt-lg-2.tn
                          img.img-fluid.lazyload(data-src="/img/thumbnail/"+ item.thumbnail +".png")
                      else
                        div.img-wrap.mt-lg-2.tn
                          img.img-fluid.lazyload(data-src="/img/thumbnail/"+ item.thumbnail +".png")
                    
                    // --------Description--------
                    div.col-12.col-lg-6.mt-3.mt-lg-0
                      ul.nav.nav-tabs
                        li.nav-item: a.nav-link.active(href="#Japanese_"+ item.thumbnail data-toggle="tab") 日本語
                        li.nav-item: a.nav-link(href="#English_"+ item.thumbnail data-toggle="tab") English
                        li.nav-item: a.nav-link(href="#Chinese_"+ item.thumbnail data-toggle="tab") 中文
                      div.tab-content.p-2.effect-fade
                        div.tab-pane.active(id='Japanese_' + item.thumbnail)
                          p !{item.desc_ja}
                        div.tab-pane(id='English_' + item.thumbnail)
                          p !{item.desc_us}
                        div.tab-pane(id='Chinese_' + item.thumbnail)
                          p.cn !{item.desc_cn}
                    
                    // --------Share--------
                    div.col-12.col-lg-2.mt-lg-4
                      div.container-fluid.effect-fade
                        div.row.justify-content-center.icons
                          div.col-lg-12.col-3.effect-fade
                            a.sns_btn.btn_twitter.mx-auto.d-block.mb-2(href="https://twitter.com/intent/tweet?text=ぽんぽこ24 vol.4 「" + item.title + "」は" + item.time + "に開催！概要をチェック→" + "&url=https://ponpoko24.party/" + "&hashtags=ぽんぽこ24&related=osyarenuts,ponpokoka" rel="nofollow" target="_blank")
                              i.fab.fa-twitter
                          div.col-lg-12.col-3.effect-fade
                            a.sns_btn.btn_line.mx-auto.d-block.mb-2(href="https://line.me/R/msg/text/?ぽんぽこ24 vol.4 「" + item.title + "」は" + item.time + "に開催！概要をチェック→ https://ponpoko24.party/" target="_blank" rel="nofollow")
                              i.fab.fa-line
                          div.col-lg-12.col-3.effect-fade
                            a.sns_btn.btn_facebook.mx-auto.d-block.mb-2(href="https://www.facebook.com/share.php?u=https://ponpoko24.party" target="_blank" rel="nofollow")
                              i.fab.fa-facebook
                          div.col-lg-12.col-3.effect-fade
                            a.sns_btn.btn_pocket.mx-auto.d-block.mb-2(href="https://getpocket.com/edit?url=https://ponpoko24.party" target="_blank" rel="nofollow")
                              i.fab.fa-get-pocket
                  // --------Guest--------
                  if item.guest.length > 0
                    div.row
                      div.col.effect-fade
                        h3.mt-lg-1.mb-0.text-center.text-lg-left Guest
                        
                        // --------PC--------
                        div.guest-list.d-none.d-lg-block
                          each guest in item.guest
                            if guest == 15
                              a#norio(href=twitter_link[guest-1] target="_blank")
                                img.img-thumbnail.guest.m-2.mb-3.mb-lg-0.lazyload(data-src="/img/guest/"+ 15 +".png")
                                img.img-thumbnail.guest.m-2.mb-3.mb-lg-0.active.lazyload(data-src="/img/guest/"+ 19 +".png")
                            else
                              a(href=twitter_link[guest-1] target="_blank"): img.img-thumbnail.guest.m-2.mb-3.mb-lg-0.lazyload(data-src="/img/guest/"+ guest +".png")
                            
                        // --------SP--------
                        div.container-fluid.d-lg-none.d-block
                          div.row.justify-content-between.guest-list-sp
                            each guest in item.guest
                              div.col-6.col-md-4
                                a(href=twitter_link[guest-1] target="_blank"): img.img-thumbnail.guest.mb-3.mb-lg-0.lazyload(data-src="/img/guest/"+ guest +".png")
            hr
