head
  link(rel="stylesheet" type="text/css" href="/css/style.css")
  link(rel="stylesheet" type="text/css" href="/slick/slick.css")
  link(rel="stylesheet" type="text/css" href="/slick/slick-theme.css")
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")

  title ぽんぽこ24 vol.4
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
  script(type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=MML_SVG")
  .
    <script>
      (function(d) {
        var config = {
          kitId: 'tny0zka',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  
body.wrapper
  canvas#canvas
  section#body
    div.container-fluid
      div.row
        // --------PC--------
        div.col-2.left-side.sticky-top.d-none.d-lg-block
          div.left-text PONPOKO24 vol.4
          
        // --------SP--------
        div.col-2.left-side.d-lg-none.d-block
          div.left-text-sp PONPOKO24 vol.4
          
        // --------Main content--------
        div.col-12.col-lg-8.shadow-material.mt-lg-4#main
          div.container-fluid.mt-4
            div.row#main-slide
              div.col
                div.slider-for
                  - var list = ['20:00 - 21:00', '21:00 - 22:00', '22:00 - 23:00', '23:00 - 00:00', '00:00 - 01:00',　'01:00 - 02:00']
                  each item, index in list
                    div
                      img.img-fluid(src="/img/thumbnail/" + (index + 1) + ".png")
                      p.caption #{item}
            div.row.mt-lg-4#sub-slide
              div.col
                div.slider-nav
                  - var list = ['20:00 - 21:00', '21:00 - 22:00', '22:00 - 23:00', '23:00 - 00:00', '00:00 - 01:00',　'01:00 - 02:00']
                  each item, index in list
                    img.img-fluid.px-lg-3(src="/img/thumbnail/" + (index + 1) + ".png")
            div.row.mt-3
              div.col
                p saifjasofiasoifajdiofjdossdj
                h1 ぽんぽこ24 vol.4ぽんぽこ24 vol.4ぽんぽこ24 vol.4
                h1 saifjasof iasoifajd iofjdos sdjsaif jasofia soifajdiof jdossd 
                h1 改行テスト改行テスト改行テスト改行テスト改行テスト改行テスト改行テスト改行テスト改行テスト
                h1 saifjasofiasoifajdiofjdossdj
        
        // --------PC--------
        div.col-2.right-side.sticky-top.d-none.d-lg-block
          div.right-text PARTY!!
  script(type="text/javascript" src="/js/background.js")
  script(type="text/javascript" src="/js/slick.js")
