head
  //Google analytics
  .
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146142130-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146142130-3');
    </script>
    
  //meta
  title ぽんぽこ24 vol.4
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="description" content="ぽんぽこ24 vol.4開催！番組情報、出演者をチェック！")
  meta(name="robots" content="noindex,follow")
  // ↑indexに後で変更
  
  //OGP
  meta(property="og:url" content="https://ponpoko24.party/")
  meta(property="og:title" content="ぽんぽこ24 vol.4")
  meta(property="og:type" content="website")
  meta(property="og:description" content="ぽんぽこ24 vol.4開催！番組情報、出演者をチェック！")
  meta(property="og:image" content="https://ponpoko24.party/img/ogp.png")
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content="@ponpokoka")
  meta(property="og:site_name" content="ぽんぽこ24 vol.4")
  meta(property="og:locale" content="ja_JP")
  
  //css
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
  link(rel="stylesheet" type="text/css" href="/css/style.css")
  link(rel="stylesheet" type="text/css" href="/slick/slick.css")
  link(rel="stylesheet" type="text/css" href="/slick/slick-theme.css")

  //js
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
  script(type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=MML_SVG")
  
  //font
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous")
  .
    <script>
      (function(d) {
        var config = {
          kitId: 'tny0zka',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
      var w = $('.wrapper').width();
      var h = $('.wrapper').height();
      $('#canvas').attr('width', w);
      $('#canvas').attr('height', h);
    </script>
  
body.wrapper
  canvas#canvas
  section#body
    div.container-fluid
      div.row
        // --------PC--------
        div.col-2.left-side.d-none.d-lg-block
          div.container-fluid.sticky-top
            div.row
              div.col
                div.left-text PONPOKO24 vol.4
          
        // --------Main content--------
        div.col-12.col-lg-8.shadow-material#main
          div.container-fluid.mt-2
            
            // --------menu--------
            nav.navbar.navbar-expand-lg.mb-3.pb-lg-3.sticky-top
              a.navbar-brand.d-lg-none(href="#") PONPOKO24 vol.4
              button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
              div.collapse.navbar-collapse#navbarSupportedContent
                ul.navbar-nav.mr-auto
                  li.nav-item.ml-4: a.nav-link(href="#Part1") 第一部
                  li.nav-item.ml-4: a.nav-link(href="#Part2") 第二部
                  li.nav-item.ml-4: a.nav-link(href="#Part3") 第三部
                  li.nav-item.ml-4: a.nav-link(href="#1") 裏配信
                  li.nav-item.ml-4: a.nav-link(href="#1") ぽこあーと
          
            // --------Main Slider--------
            div.row#main-slide
              div.col
                div.slider-for
                  - 
                    var list = ['20:00 - 21:00 すくすくめぐちゃん',
                                '21:00 - 22:00 バーチャル・バチェラー',
                                '22:00 - 23:00 ぽこピー批評',
                                '23:00 - 00:00 大喜利代理戦争',
                                '00:00 - 01:00 文野環裁判',
                                '01:00 - 02:00 緑仙に企画を丸投げしてみた',
                                ]
                  each item, index in list
                    div
                      a(href="#"+(index+1)): img.img-fluid(src="/img/thumbnail/" + (index + 1) + ".png")
                      p.caption.py-lg-3.py-1.d-none.d-lg-block #{item}
            
            // --------Sub Slider--------
            div.row.mt-lg-4#sub-slide
              div.col
                div.slider-nav
                  - var list = ['20:00 - 21:00', '21:00 - 22:00', '22:00 - 23:00', '23:00 - 00:00', '00:00 - 01:00',　'01:00 - 02:00']
                  each item, index in list
                    img.img-fluid.px-lg-2(src="/img/thumbnail/" + (index + 1) + ".png")
                      
            // --------Time table--------
            div.row.mt-3
              div.col
                // --------part 1--------
                include _part1
                
                // --------part 2--------
                include _part2
                
                // --------part 3--------
                include _part3
                
                // --------simul--------
                include _simul
        
        // --------PC--------
        div.col-2.right-side.d-none.d-lg-block
          div.container-fluid.sticky-top
            div.row
              div.col
                div.right-text PARTY!!
  
  // --------Load js--------
  script(type="text/javascript" src="/js/background.js")
  script(type="text/javascript" src="/js/slick.js")
