head
  .
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146142130-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146142130-3');
    </script>
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
  link(rel="stylesheet" type="text/css" href="/css/style.css")
  link(rel="stylesheet" type="text/css" href="/slick/slick.css")
  link(rel="stylesheet" type="text/css" href="/slick/slick-theme.css")
  title ぽんぽこ24 vol.4
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
  script(type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=MML_SVG")
  link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous")
  .
    <script>
      (function(d) {
        var config = {
          kitId: 'tny0zka',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
      var w = $('.wrapper').width();
      var h = $('.wrapper').height();
      $('#canvas').attr('width', w);
      $('#canvas').attr('height', h);
    </script>
  
body.wrapper
  canvas#canvas
  section#body
    div.container-fluid
      div.row
        // --------PC--------
        div.col-2.left-side.d-none.d-lg-block
          div.container-fluid.sticky-top
            div.row
              div.col
                div.left-text PONPOKO24 vol.4
          
        // --------SP--------
        div.col-2.left-side.d-lg-none.d-block
          div.left-text-sp PONPOKO24 vol.4
          
        // --------Main content--------
        div.col-12.col-lg-8.shadow-material#main
          div.container-fluid.mt-4
            
            // --------menu--------
            div.row.sticky-top
              div.col-12 asdadad
              
            // --------Main Slider--------
            div.row#main-slide
              div.col
                div.slider-for
                  - 
                    var list = ['20:00 - 21:00 すくすくめぐちゃん',
                                '21:00 - 22:00 バーチャル・バチェラー',
                                '22:00 - 23:00 ぽこピー批評',
                                '23:00 - 00:00 大喜利代理戦争',
                                '00:00 - 01:00 文野環裁判',
                                '01:00 - 02:00 緑仙に企画を丸投げしてみた',
                                ]
                  each item, index in list
                    div
                      a(href="#"+(index+1)): img.img-fluid(src="/img/thumbnail/" + (index + 1) + ".png")
                      p.caption.py-lg-3.py-1.d-none.d-lg-block #{item}
            
            // --------Sub Slider--------
            div.row.mt-lg-4#sub-slide
              div.col
                div.slider-nav
                  - var list = ['20:00 - 21:00', '21:00 - 22:00', '22:00 - 23:00', '23:00 - 00:00', '00:00 - 01:00',　'01:00 - 02:00']
                  each item, index in list
                    img.img-fluid.px-lg-3(src="/img/thumbnail/" + (index + 1) + ".png")
                      
            // --------Time table--------
            div.row.mt-3
              div.col
                // --------part 1--------
                div.card
                  div.card-header#Head-1(role="tab")
                    h5.mb-0
                      a.text-body.d-block.pt-1.m-n3
                        p.ac-heading 第一部 (20:00 - 06:00)
                  div#Part1
                    div.card-body.p-1
                        div.cp_timeline04
                          // --------item--------
                          - 
                            var twitter_link = [
                              'https://twitter.com/oozorasubaru',
                              'https://twitter.com/nekokan_chu',
                              'https://twitter.com/norioo_'
                            ]
                          - 
                            var info = [
                              {
                                time: '20:00-21:00',
                                title: 'すくすくめぐちゃん',
                                thumbnail: '1',
                                desc_ja: 'マルチクリエイターの東雲メグが登場！癒やし成分たっぷりで送る30分。チャンチョ・メグコンビの超本格抱腹絶倒星座占いも必見！',
                                desc_us: "Meg Shinonome, a multi-creator, is here! 30 minutes with plenty of soothing ingredients.Also, don't forget to check out Chancho and Meg Duo's astrological horoscope!",
                                desc_cn: '30分钟的时间里，有大量的舒缓成分。另外，别忘了看看灿灿和梅格多的星座运势!',
                                share_text: 'すくすくめぐちゃんは5月5日の20時から放送！',
                                guest: [1, 2, 3, 1, 2, 3],
                              },
                              {
                                time: '21:00-22:00',
                                title: 'バーチャル・バチェラー',
                                thumbnail: '2',
                                desc_ja: 'マルチクリエイターの東雲メグが登場！癒やし成分たっぷりで送る30分。チャンチョ・メグコンビの超本格抱腹絶倒星座占いも必見！',
                                desc_us: "Meg Shinonome, a multi-creator, is here! 30 minutes with plenty of soothing ingredients.Also, don't forget to check out Chancho and Meg Duo's astrological horoscope!",
                                desc_cn: '30分钟的时间里，有大量的舒缓成分。另外，别忘了看看灿灿和梅格多的星座运势!',
                                guest: [1, 2, 3, 1, 2, 3],
                              },
                              {
                                time: '22:00-23:00',
                                title: 'ぽこピー批評 ～beyond～',
                                thumbnail: '3',
                                desc_ja: 'マルチクリエイターの東雲メグが登場！癒やし成分たっぷりで送る30分。チャンチョ・メグコンビの超本格抱腹絶倒星座占いも必見！',
                                desc_us: "Meg Shinonome, a multi-creator, is here! 30 minutes with plenty of soothing ingredients.Also, don't forget to check out Chancho and Meg Duo's astrological horoscope!",
                                desc_cn: '30分钟的时间里，有大量的舒缓成分。另外，别忘了看看灿灿和梅格多的星座运势!',
                                guest: [1, 2, 3, 1, 2, 3],
                              },
                              {
                                time: '22:00-23:00',
                                title: 'ぽこピー批評 ～beyond～',
                                thumbnail: '3',
                                desc_ja: 'マルチクリエイターの東雲メグが登場！癒やし成分たっぷりで送る30分。チャンチョ・メグコンビの超本格抱腹絶倒星座占いも必見！',
                                desc_us: "Meg Shinonome, a multi-creator, is here! 30 minutes with plenty of soothing ingredients.Also, don't forget to check out Chancho and Meg Duo's astrological horoscope!",
                                desc_cn: '30分钟的时间里，有大量的舒缓成分。另外，别忘了看看灿灿和梅格多的星座运势!',
                                guest: [1, 2, 3, 1, 2, 3],
                              },
                              {
                                time: '22:00-23:00',
                                title: 'ぽこピー批評 ～beyond～',
                                thumbnail: '3',
                                desc_ja: 'マルチクリエイターの東雲メグが登場！癒やし成分たっぷりで送る30分。チャンチョ・メグコンビの超本格抱腹絶倒星座占いも必見！',
                                desc_us: "Meg Shinonome, a multi-creator, is here! 30 minutes with plenty of soothing ingredients.Also, don't forget to check out Chancho and Meg Duo's astrological horoscope!",
                                desc_cn: '30分钟的时间里，有大量的舒缓成分。另外，别忘了看看灿灿和梅格多的星座运势!',
                                guest: [1, 2, 3, 1, 2, 3],
                              },
                              {
                                time: '22:00-23:00',
                                title: 'ぽこピー批評 ～beyond～',
                                thumbnail: '3',
                                desc_ja: 'マルチクリエイターの東雲メグが登場！癒やし成分たっぷりで送る30分。チャンチョ・メグコンビの超本格抱腹絶倒星座占いも必見！',
                                desc_us: "Meg Shinonome, a multi-creator, is here! 30 minutes with plenty of soothing ingredients.Also, don't forget to check out Chancho and Meg Duo's astrological horoscope!",
                                desc_cn: '30分钟的时间里，有大量的舒缓成分。另外，别忘了看看灿灿和梅格多的星座运势!',
                                guest: [1, 2, 3, 1, 2, 3],
                              },
                              {
                                time: '22:00-23:00',
                                title: 'ぽこピー批評 ～beyond～',
                                thumbnail: '3',
                                desc_ja: 'マルチクリエイターの東雲メグが登場！癒やし成分たっぷりで送る30分。チャンチョ・メグコンビの超本格抱腹絶倒星座占いも必見！',
                                desc_us: "Meg Shinonome, a multi-creator, is here! 30 minutes with plenty of soothing ingredients.Also, don't forget to check out Chancho and Meg Duo's astrological horoscope!",
                                desc_cn: '30分钟的时间里，有大量的舒缓成分。另外，别忘了看看灿灿和梅格多的星座运势!',
                                guest: [1, 2, 3, 1, 2, 3],
                              },
                            ]
                          each item, index in info
                            div.timeline_item.mb-5(id=item.thumbnail)
                              div.time_date
                                
                                // --------Time--------
                                p.time #{item.time}
                                
                                // --------Title--------
                                p.flag ##{index+1} #{item.title}
                                div.container-fluid
                                  div.row.pt-3.pl-lg-2
                                    
                                    // --------Thumbnail--------
                                    div.col-12.col-lg-4
                                      div.img-wrap.mt-lg-4
                                        img.img-fluid(src="/img/thumbnail/"+ item.thumbnail +".png")
                                    
                                    // --------Description--------
                                    div.col-12.col-lg-6.mt-3.mt-lg-0
                                      ul.nav.nav-tabs
                                        li.nav-item: a.nav-link.active(href="#Japanese_"+ index data-toggle="tab") 日本語
                                        li.nav-item: a.nav-link(href="#English_"+ index data-toggle="tab") English
                                        li.nav-item: a.nav-link(href="#Chinese_"+ index data-toggle="tab") 中文
                                      div.tab-content.p-2
                                        div.tab-pane.active(id='Japanese_' + index)
                                          p #{item.desc_ja}
                                        div.tab-pane(id='English_' + index)
                                          p #{item.desc_us}
                                        div.tab-pane(id='Chinese_' + index)
                                          p #{item.desc_cn}
                                    
                                    // --------Share--------
                                    div.col-12.col-lg-2.mt-lg-4
                                      div.container-fluid
                                        div.row.justify-content-center
                                          div.col-lg-12.col-3
                                            a.sns_btn.btn_twitter.mx-auto.d-block.mb-3(href="https://twitter.com/intent/tweet?text=ぽんぽこ24 vol.4 「" + item.title + "」は" + item.time + "に開催！概要をチェック→" + "&url=https://ponpoko24.party/" + "&hashtags=ぽんぽこ24&related=osyarenuts,ponpokoka" rel="nofollow" target="_blank")
                                              i.fab.fa-twitter
                                          div.col-lg-12.col-3
                                            a.sns_btn.btn_line.mx-auto.d-block.mb-3(href="https://line.me/R/msg/text/?ぽんぽこ24 vol.4 「" + item.title + "」は" + item.time + "に開催！概要をチェック→ https://ponpoko24.party/" target="_blank" rel="nofollow")
                                              i.fab.fa-line
                                          div.col-lg-12.col-3
                                            a.sns_btn.btn_facebook.mx-auto.d-block.mb-3(href="https://www.facebook.com/share.php?u=https://ponpoko24.com" target="_blank" rel="nofollow")
                                              i.fab.fa-facebook
                                          div.col-lg-12.col-3
                                            a.sns_btn.btn_pocket.mx-auto.d-block.mb-3(href="https://getpocket.com/edit?url=https://ponpoko24.com" target="_blank" rel="nofollow")
                                              i.fab.fa-get-pocket
                                  // --------Guest--------
                                  div.row
                                    div.col
                                      h3.mt-lg-1.mb-0.text-center.text-lg-left Guest
                                      
                                      // --------PC--------
                                      div.guest-list.d-none.d-lg-block
                                        each guest in item.guest
                                          a(href=twitter_link[guest-1] target="_blank"): img.img-thumbnail.guest.m-2.mb-3.mb-lg-0(src="/img/guest/"+ guest +".png")
                                          
                                      // --------SP--------
                                      div.container-fluid.d-lg-none.d-block
                                        div.row.justify-content-between.guest-list-sp
                                          each guest in item.guest
                                            div.col-6.col-md-4
                                              a(href=twitter_link[guest-1] target="_blank"): img.img-thumbnail.guest.mb-3.mb-lg-0(src="/img/guest/"+ guest +".png")
                            hr
        
        // --------PC--------
        div.col-2.right-side.d-none.d-lg-block
          div.container-fluid.sticky-top
            div.row
              div.col
                div.right-text PARTY!!
  
  // --------Load js--------
  script(type="text/javascript" src="/js/background.js")
  script(type="text/javascript" src="/js/slick.js")
