head
  link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
  link(rel="stylesheet" type="text/css" href="/css/style.css")
  link(rel="stylesheet" type="text/css" href="/slick/slick.css")
  link(rel="stylesheet" type="text/css" href="/slick/slick-theme.css")
  title ぽんぽこ24 vol.4
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
  script(type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=MML_SVG")
  .
    <script>
      (function(d) {
        var config = {
          kitId: 'tny0zka',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  
body.wrapper
  canvas#canvas
  section#body
    div.container-fluid
      div.row
        // --------PC--------
        div.col-2.left-side.d-none.d-lg-block
          div.container-fluid.sticky-top
            div.row
              div.col
                div.left-text PONPOKO24 vol.4
          
        // --------SP--------
        div.col-2.left-side.d-lg-none.d-block
          div.left-text-sp PONPOKO24 vol.4
          
        // --------Main content--------
        div.col-12.col-lg-8.shadow-material.mt-lg-4#main
          div.container-fluid.mt-4
            
            // --------Main Slider--------
            div.row#main-slide
              div.col
                div.slider-for
                  - 
                    var list = ['20:00 - 21:00 すくすくめぐちゃん',
                                '21:00 - 22:00 バーチャル・バチェラー',
                                '22:00 - 23:00 ぽこピー批評',
                                '23:00 - 00:00 大喜利代理戦争',
                                '00:00 - 01:00 文野環裁判',
                                '01:00 - 02:00 緑仙に企画を丸投げしてみた',
                                ]
                  each item, index in list
                    div
                      img.img-fluid(src="/img/thumbnail/" + (index + 1) + ".png")
                      p.caption.py-lg-3.py-1.d-none.d-lg-block #{item}
            
            // --------Sub Slider--------
            div.row.mt-lg-4#sub-slide
              div.col
                div.slider-nav
                  - var list = ['20:00 - 21:00', '21:00 - 22:00', '22:00 - 23:00', '23:00 - 00:00', '00:00 - 01:00',　'01:00 - 02:00']
                  each item, index in list
                    img.img-fluid.px-lg-3(src="/img/thumbnail/" + (index + 1) + ".png")
                      
            // --------Time table--------
            div.row.mt-3
              div.col
                div.accordion#accordion(role="tablist" aria-multiselectable="true")
                  
                  // --------part 1--------
                  div.card
                    div.card-header#Head-1(role="tab")
                      h5.mb-0
                        a.text-body.d-block.pt-1.m-n3(data-toggle="collapse" href="#Part1" role="button" aria-expanded="true" aria-controls="Part1")
                          p.ac-heading Part1 ( 20:00 - 06:00 )
                    div.collapse.show#Part1(role="tabpanel" aria-labelledby="Head-1" data-parent="#accordion")
                      div.card-body
                          div.cp_timeline04
                            div.timeline_item
                              div.time_date
                                p.time 20:00-21:00
                                p.flag すくすくめぐちゃん
                                div.container-fluid.timeline-content
                                  div.row.pt-3
                                    div.col-12.col-lg-4
                                      img.img-fluid(src="/img/thumbnail/1.png" data-adaptive-background="1")
                                    div.col-12.col-lg-7.mt-3.mt-lg-0
                                      p マルチクリエイターの東雲メグが登場！癒やし成分たっぷりで送る30分。<br>チャンチョ・メグコンビの超本格抱腹絶倒星座占いも必見！
                                    div.col-12.col-lg-1
                                      button.button aa
                                  hr
                                  div.row
                                    div.col
                                      h3.mt-2.mb-0.ml-3.text-center.text-lg-left 出演者
                                      img.img-thumbnail.guest.m-2(src="/img/guest/01.png" data-adaptive-background="1")
                                      img.img-thumbnail.guest.m-2(src="/img/guest/02.png" data-adaptive-background="1")
                                      img.img-thumbnail.guest.m-2(src="/img/guest/03.png" data-adaptive-background="1")
                            div.timeline_item
                              div.time_date
                                p.time 20:00-21:00
                                p.flag すくすくめぐちゃん
                                img.img-fluid(src="/img/thumbnail/2.png")
        
                            div.timeline_item
                              div.time_date
                                p.time 20:00-21:00
                                p.flag すくすくめぐちゃん
                                img.img-fluid(src="/img/thumbnail/3.png")
                                
                            div.timeline_item
                              div.time_date
                                p.time 20:00-21:00
                                p.flag すくすくめぐちゃん
                                img.img-fluid(src="/img/thumbnail/4.png")

                            div.timeline_item
                              div.time_date
                                p.time 20:00-21:00
                                p.flag すくすくめぐちゃん
                                img.img-fluid(src="/img/thumbnail/5.png")
        
                            div.timeline_item
                              div.time_date
                                p.time 20:00-21:00
                                p.flag すくすくめぐちゃん
                                img.img-fluid(src="/img/thumbnail/6.png")

            // --------part 2--------      
            div.card
              div.card-header#Head-2(role="tab")
                h5.mb-0
                  a.collapsed.text-body.d-block.py-1.m-n3(data-toggle="collapse" href="#Part2" role="button" aria-expanded="false" aria-controls="Part2")
                    p.ac-heading Part2 ( 07:00 - 11:00 )
              div#Part2.collapse(role="tabpanel" aria-labelledby="Head-2" data-parent="#accordion")
                div.card-body
                  p アイテム2のコンテンツ

            // --------part 3--------
            div.card
              div.card-header#Head-3(role="tab")
                h5.mb-0
                  a.collapsed.text-body.d-block.py-1.m-n3(data-toggle="collapse" href="#Part3" role="button" aria-expanded="false" aria-controls="Part3")
                    p.ac-heading Part3 ( 12:00 - 20:00 )
              div#Part3.collapse(role="tabpanel" aria-labelledby="Head-3" data-parent="#accordion")
                div.card-body
                  p アイテム3のコンテンツ
                
        
        // --------PC--------
        div.col-2.right-side.d-none.d-lg-block
          div.container-fluid.sticky-top
            div.row
              div.col
                div.right-text PARTY!!
    

  // --------Load js--------
  script(type="text/javascript" src="/js/background.js")
  script(type="text/javascript" src="/js/slick.js")
  script(type="text/javascript" src="/js/jquery.adaptive-backgrounds.js")
